.baldevlogo {
    position: absolute;
    width: 615px;
    height: 103px;
    left: 38px;
    top:28px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}
.a{
    position: absolute;
    font-size: 20px;
    left: 596px;
    font-family: inconsolata;
    color: white;
    top: 720px; 
}
.a1{
    position: absolute;
    font-size: 20px;
    left: 636px;
    font-family: inconsolata;
    color: white;
    top: 760px; 
}
.home1{
    width: 1400px;
    height: 900px;
}
.left{
    width: 200px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
.center{
    white-space: nowrap;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 600px;
    justify-content: space-between;
}
.home{
    background-color: transparent;
    border: none;
    display: inline-block;
    width: 56px;
height: 24px;
margin-left: 10px;
margin-right: 10px;
left: 580px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
a{
    text-decoration: none;
    color: white;
}
.sbutton1 a {
    text-decoration: none;
    color: white;
  }
.name{
    position: relative;
    color: white;
    top: 310px;
    left: 510px;
    font-size: 20px;
    font-family: inconsolata;
}
.fill1{
    position: relative;
    top: 310px;
    background-color: black;
    left: 602px;
    width: 239px;
    color: white;
    height: 30px;
    border-color: white;
    text-emphasis-color: white;
}
.fill2{
    position: relative;
    top: 310px;
    background-color: black;
    left: 592px;
    width: 239px;
    height: 30px;
    border-color: white;
    color: white;
}
.fill3{
    position: relative;
    top: 310px;
    background-color: black;
    left: 560px;
    width: 239px;
    height: 30px;
    border-color: white;
    color: white;
}
.fill4{
    position: relative;
    top: 310px;
    background-color: black;
    left: 563px;
    width: 239px;
    height: 30px;
    border-color: white;
    color: white;
}
.home:hover{
    cursor: pointer;
    font-size: 22px;}
.signup_c{
    position: absolute;
width: 900px;
height: 107px;
left: 430px;
top: 180px;
}
.sbox{
    position: absolute;
width: 900px;
height: 107px;
left: 478px;
top: 333px;

}

.sbutton1{
    position: absolute;
    width: 108px;
    height: 41px;
    left: 666px;
    top: 650px;
    color: black;
    background: transparent;
    background-color: white;
    font-size: 20px;
    font-family: inconsolata;
    box-shadow: 3px 3px 0 rgb(255, 255, 255);
}
.sbutton1:active{
    font-size: 18px;
    cursor: pointer;
}
.sbutton1:hover{
    cursor: pointer;
}
body{
    margin-bottom: 530px;
}
.rotate1{
    position: fixed;
        top:70%;
        left:-280px;
        width:250px;
        height: 650px;
        margin:-60px 0 0 150px;
        -webkit-animation: spin 8.5s linear infinite;
        -moz-animation: spin 8.5s linear infinite;
        animation: spin 8.5s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.rotate{
    position: fixed;
        top:120px;
        right:-60px;
        width:250px;
        height: 650px;
        margin:-60px 0 0 150px;
        -webkit-animation: spin 8.5s linear infinite;
        -moz-animation: spin 8.5s linear infinite;
        animation: spin 8.5s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}